.primary {
  background-color: #00ccff; }

.secondary {
  background-color: #004cff; }

.tertiary {
  background-color: #ff3300; }

.quadrary {
  background-color: #ffb300; }

body, html {
  padding: 0;
  margin: 0;
  height: 100%; }

div {
  display: block;
  width: 25%;
  height: 100%;
  float: left; }
