.primary {
  background-color: #4194b4; }

.secondary {
  background-color: #415bb4; }

.tertiary {
  background-color: #be914b; }

.quadrary {
  background-color: #b1be4b; }

body, html {
  padding: 0;
  margin: 0;
  height: 100%; }

div {
  display: block;
  width: 25%;
  height: 100%;
  float: left; }
