// Color schemes to choose from
//    mono
//    complement
//    triad
//    tetrad
//    analogic
//    accented-analogic

// Pick the base color for your scheme:
$base-color: #00CCFF;

// Select your scheme from the list and place it here:
$color-scheme: tetrad;

// How distant do you want the hue offset to be:
$hue-offset: 30;

// How distant do you want tints and shades to be from their base:
$brightness-offset: 10%;

// Use Claude Boutet complements instead of RGB complements.
//$color-theory: boutet;

// import your color schemer after you define your own defaults and it will automatically generate variables.
@import "../sass/color-schemer";

// OK, but need to adjust them? Just redefine your color scheme here. If you wish to define all of these the color-schemer file can be imported at the top of this file.
//$primary: equalize(color-schemer(primary));
//$secondary: lighten(color-schemer(secondary), 10%);
//$tertiary: darken(color-schemer(tertiary), 15%);
//$quadrary: color-schemer(quadrary);


// Then just drop your variables into your code.
.primary {
  background-color: $primary; }
.secondary {
  background-color: $secondary; }
.tertiary {
  background-color: $tertiary; }
.quadrary {
  background-color: $quadrary; }



// Just some basic page styles
body, html {
  padding: 0;
  margin: 0;
  height: 100%; }

div {
  display: block;
  width: 25%;
  height: 100%;
  float: left; }