.primary {
  background-color: #0083f6; }

.secondary {
  background-color: #0008f6; }

.tertiary {
  background-color: #f67300; }

.quadrary {
  background-color: #f6ee00; }

body, html {
  padding: 0;
  margin: 0;
  height: 100%; }

div {
  display: block;
  width: 25%;
  height: 100%;
  float: left; }
