$cs-primary           : #f00 !default;
$cs-scheme            : mono !default;   // mono, complement, triad, tetrad, analogic, accented-analogic
$cs-hue-offset        : 30 !default;
$cs-brightness-offset : false !default;
$cs-color-model       : rgb !default;    // rgb, ryb
