// RYB color interpolation
@function ryb($hue) {

  // remove units on $hue
  @if unit($hue) == deg {
    $hue: $hue / 1deg;
  }

  // interpolate red and yellow.
  @if $hue <= (360/3) {
    @return hue(mix(#ff0, #f00, percentage($hue / (360/3) )));
  }
  // interpolate yellow and green.
  @if $hue <= 360 / 2 and  $hue > (360/3) and $hue <= (360 / 3 * 2) {
    @return hue(mix(#0f0, #ff0, percentage(($hue - (360 / 6 * 2)) / (360 / 6))));
  }
  // interpolate green and blue.
  @if $hue > 360 / 2 and  $hue < (360 / 3 * 2) {
    @return hue(mix(#00f, #0f0, percentage(($hue - (360 / 6 * 3)) / (360 / 6)) ));
  }
  // Blue to red does not need conversion.
  @if $hue >= (360 / 3 * 2) {
    @return $hue * 1deg;
  }
}

// RUN FOR OUTPUT, WRITTEN TO SAVE COMPILE TIME
// $ryb-offset-table: ();
// @for $i from 0 through 360 {
//   $ryb: append($ryb, round(ryb($i)) / 1deg);
// }
// @debug $ryb-offset-table;
$ryb-offset-table: 0 0 1 1 2 2 3 3 4 4 5 5 6 6 7 7 8 8 9 9 10 10 11 11 12 12 13 13 14 14 15 15 16 16 17 17 18 18 19 19 20 20 21 21 22 22 23 23 24 24 25 25 26 26 27 27 28 28 29 29 30 30 31 31 32 32 33 33 34 34 35 35 36 36 37 37 38 38 39 39 40 40 41 41 42 42 43 43 44 44 45 45 46 46 47 47 48 48 49 49 50 50 51 51 52 52 53 53 54 54 55 55 56 56 57 57 58 58 59 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100 101 102 103 104 105 106 107 108 109 110 111 112 113 114 115 116 117 118 119 120 121 122 123 124 125 127 128 129 131 132 133 135 137 138 140 142 144 146 148 150 152 155 157 160 163 166 169 172 176 180 184 188 191 194 197 200 203 205 208 210 212 214 216 218 220 222 223 225 227 228 229 231 232 233 235 236 237 238 239 240 241 242 243 244 245 246 247 248 249 250 251 252 253 254 255 256 257 258 259 260 261 262 263 264 265 266 267 268 269 270 271 272 273 274 275 276 277 278 279 280 281 282 283 284 285 286 287 288 289 290 291 292 293 294 295 296 297 298 299 300 301 302 303 304 305 306 307 308 309 310 311 312 313 314 315 316 317 318 319 320 321 322 323 324 325 326 327 328 329 330 331 332 333 334 335 336 337 338 339 340 341 342 343 344 345 346 347 348 349 350 351 352 353 354 355 356 357 358 359 360;

// Find the RYB hue instead of RGB hue of a color.
// slow dumb loop at the moment.
@function ryb-hue($color) {
  $round-hue: round(hue($color));
  // loop through RYB offset list until the location is found.
  @for $n from 0 through 10 {
    @for $i from 1 through 360 {
      @if $round-hue == nth($ryb-offset-table, $i) + $n {
        @return $i * 1deg;
      }
    }
    @if $n != 0 {
      @for $i from 1 through 360 {
        @if $round-hue == nth($ryb-offset-table, $i) - $n {
          @return $i * 1deg;
        }
      }
    }
  }
}

// Changes the hue of a color.
@function ryb-adjust-hue($color, $degrees) {

  // Convert precentag to degrees.
  @if unit($degrees) == "%" {
    $degrees: 360 * ($degrees / 100%);
  }

  // Start at the current hue and loop in the adjustment.
  $hue-adjust: ryb-hue($color) + $degrees;

  // Make on a scale of 1-360deg
  @while $hue-adjust > 360 or $hue-adjust > 360deg {
    $hue-adjust: $hue-adjust - 360;
  }
  @while $hue-adjust < 0 or $hue-adjust < 0deg {
    $hue-adjust: $hue-adjust + 360;
  }

  // return the correct hue from the list.
  @return set-hue($color, ryb(round($hue-adjust)));
}

// Returns the complement of a color.
@function ryb-complement($color) {
  @return ryb-adjust-hue($color, 180deg);
}

// Returns the inverse of a color.
@function ryb-invert($color) {
  @return ryb-adjust-hue(hsl(hue($color), saturation(invert($color)), lightness(invert($color))), 180deg);
}
